

.wholesaleContainer{
    background-color:#000;
}

.wholesaleInnerContainer{
    width:90%;
    margin:auto;
    /* padding-top:0rem; */
}

.wholesaleHeaderLink{
    color:#30deee;
    text-decoration:none;
}

.wholesaleMainHeader{
    font-size:2.5rem;
    font-weight:300;
    line-height:2.5rem;
    padding-top:0.5rem;
}

.wholesaleBodySection{
    margin-top:3rem;
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.wholesaleImg1Container{
    background-color:#012726;
    border-radius:1rem;
    padding-bottom:1rem;
}

.wholesaleImg{
    width:100%;
}

.wholesaleImgDetails{
    padding-top:2rem;
    width:90%;
    margin:auto;
}

.wholesaleImgHeader{
    font-size:1rem;
    font-weight:400;
}

.wholesaleImgMessage{
    font-size:0.9rem;
    font-weight:400;
    color:#9dabad;
    padding-top:0.7rem;
}

.wholesaleImgLink{
    /* display:block; */
    font-size:0.9rem;
    font-weight:400;
    color:#9dabad;
}

.wholesaleImg2Container{
    background-color:#012726;
    border-radius:1rem;
    padding-bottom:1rem;
    width:100%;
}
























@media screen and (min-width:425px) {

    .wholesaleInnerContainer{
        width:92%;
    }
}























@media screen and (min-width:640px) {

    .wholesaleInnerContainer{
        width:90%;
    }

    .wholesaleHeaderSection{
        width:65%;
    }
}
























@media screen and (min-width:768px) {

    .wholesaleInnerContainer{
        width:92%;
    }

    .wholesaleHeaderSection{
        width:100%;
    }
}























@media screen and (min-width:992px) {

    .wholesaleInnerContainer{
        width:90%;
    }

    .wholesaleHeaderSection{
        width:70%;
    }

    .wholesaleHeaderLink{
        font-size:1.3rem;
    }
    
    .wholesaleMainHeader{
        font-size:3.5rem;
        line-height:4rem;
        font-weight:400;
    }

    .wholesaleBodySection{
        flex-direction:row;
    }

    .wholesaleImg1Container{
        width:50%;
    }

    .wholesaleImg2Container{
        width:50%;
    }
}
